:root {
  --accent-color: #dc3c3c;

  --bcg-color: #f9f8f4;
  --sec-bcg-color: #1e1e2b;
  --thre-bcg-color: #34384566;
  --male-bcg: #a5a5bc;
  --female-bcg: #c8b6c7;
  --price-bcg-hover: #f1f1ed;
  --form-bcg-color: #edece9;
  --male-bcg-color: #a5a5bc;

  --main-text-color: #1e1e2b;
  --sec-text-color: #292b38;
  --white-text-color: #f9f8f4;
  --red-text-color: #dc3c3c;
  --pure-white: #fff;
  --linguage-text: #989ca9;
  --subtitle-text: #86898f;
  --personal-text: #3a3f4b;

  --main-text-color-transparent: #1e1e2b5d;

  --link-active-color: rgba(249, 248, 244, 0.2);
  --black-gradient: to left, rgba(255, 255, 255, 0.201), #1e1e2bc5;

  // icone
  --icon-gray-color: #8a8990;

  --hover-red-color: #c82828;
  --pressed-red-color: #b41414;
  --hover-social: #86898f;
}
