<section class="about-price">
  <h2 class="title title--about-price">Що входить у вартість</h2>
  <div class="about-price__about-wrapper">
    <div>
      <h3 class="subtitle subtitle--about-price">Консультації і огляди</h3>
      <p class="about-price__text">
        Первинний прийом, потім огляди в 14 день, 1 місяць, 3 місяці, 6 місяців
        і рік після операції.
      </p>
    </div>
    <div>
      <h3 class="subtitle subtitle--about-price">Операція</h3>
      <p class="about-price__text">
        1-годинна операція з інфромаммарного доступу – розріз під грудьми з
        установкою під м'язом.
      </p>
    </div>
    <div>
      <h3 class="subtitle subtitle--about-price">Iмпланти</h3>
      <p class="about-price__text">
        Пара імплантів Polytech, Allergan, Motiva, Eurosilicone (анатомічні або
        круглі).
      </p>
    </div>
    <div>
      <h3 class="subtitle subtitle--about-price">Наркоз</h3>
      <p class="about-price__text">
        Комбінований внутрішньовенно-ендотрахеальний наркоз
      </p>
    </div>
    <div>
      <h3 class="subtitle subtitle--about-price">24 години під наглядом</h3>
      <p class="about-price__text">
        Первинний прийом, потім огляди в 14 день, 1 місяць, 3 місяці, 6 місяців
        і рік після операції.
      </p>
    </div>
    <div>
      <h3 class="subtitle subtitle--about-price">Білизна</h3>
      <p class="about-price__text">
        Набір компресійної білизни – бежевий або чорний
      </p>
    </div>
  </div>
</section>
