<section class="about-clinic">
  <div class="about-clinic__img">
    <div class="about-clinic__img-hover"></div>
  </div>
  <div class="about-clinic__description-wrapper container">
    <h2 class="about-clinic__title">Клініка Plast ART у Чернівцях</h2>
    <p class="about-clinic__text">
      <span class="about-clinic__span"
        >Клініка Plast ART — це багаторічний досвід в сфері пластичної хірургії,
        постійне підвищення кваліфікації, індивідуальний</span
      ><span class="about-clinic__span"
        >Клініка Plast ART — це багаторічний досвід в сфері пластичної хірургії,
        постійне підвищення кваліфікації, індивідуальний</span
      ><span class="about-clinic__span"
        >Клініка Plast ART — це багаторічний досвід в сфері пластичної хірургії,
        постійне підвищення кваліфікації, індивідуальний</span
      >
    </p>
  </div>
</section>
