<section class="about-operation">
  <h2 class="title title--operation">Збільшення молочних залоз</h2>
  <picture class="about-operation__img">
    <source
      srcset="
        ./images/operation/operation-desktop/milk-veinsx1.png 1x,
        ./images/operation/operation-desktop/milk-veins.png   2x
      "
      media="(min-width:1400px)"
    />
    <source
      srcset="
        ./images/operation/operation-tablet/milk-veinsx1.png 1x,
        ./images/operation/operation-tablet/milk-veins.png   2x
      "
      media="(min-width:834px)"
    />
    <source
      srcset="
        ./images/operation/operation-mobile/milk-veinsx1.png 1x,
        ./images/operation/operation-mobile/milk-veins.png   2x
      "
      media="(max-width:360px)"
    />
    <img
      class="about-operation__img"
      src="./images/operation/operation-mobile/milk-veinsx1.png"
      alt="cocktail"
      width="280"
      height="280"
    />
  </picture>
  <div class="about-operation__description">
    <h3 class="subtitle subtitle--operation">
      Особливості реабілітації після збільшення грудей
    </h3>
    <div class="about-operation__text">
      <p class="about-operation__paragraph">
        Спеціалізацію проходив у відомого пластичного хірурга Пшеніснова К.П.
        (Росія, 2002рік). В 2009 році стажувався у клініці професора P.Heden
        (Швеція) в напрямку естетичної хірургії молочних залоз,в рамках
        освітньої програми Natrelle-Academy. Регулярно приймає участь в освітніх
        програмах,які проводяться в Україні та за кордоном. Руслан Миколайович
        являється членом ВАПРЕХ (Всеукраїнської асоціації пластичних
        реконструктивних естетичних хірургів) та обласним спеціалістом ГУОЗ в
        Чернівецькій області з пластичної та естетичної хірургії.
      </p>
      <p class="about-operation__paragraph">
        Багаторічний досвід (більше 10 років) успішної практики в сфері
        пластичної хірургії, постійне підвищення кваліфікації, індивідуальний
        підхід до кожного пацієнта, новаторські ідеї і заслужена повага в
        професійному середовищі дозволили йому завоювати довіру постійних
        клієнтів.
      </p>
    </div>
  </div>
  <div class="about-operation__img-wrapper"></div>
</section>
