<section class="contacts container">
  <h2 class="title-prices title-prices--contacts">Контакти</h2>
  <div class="contacts__wrapper">
    <div class="adress">
      <p class="adress__text adress__text--contacts">
        вул. Владислава Трепка 1А, м.Чернівці, Україна
      </p>
      <a class="adress__link adress__link--contacts" href="">
        Прокласти маршрут
        <svg class="adress__link-icon adress__link-icon--contacts">
          <use xlink:href="./images/sprite.svg#angleArrow"></use>
        </svg>
      </a>
    </div>

    <div class="tel-and-mail tel-and-mail--contacts">
      <div class="tel-and-mail__contacts-sub-wrapper">
        <a
          class="tel-and-mail__tel tel-and-mail__tel--contacts"
          href="tel:+380503745666"
          >+38 (050) 374-56-66</a
        >
        <a
          class="tel-and-mail__tel tel-and-mail__tel--contacts"
          href="tel:+380372547282"
          >+38 (0372) 54-72-82</a
        >
      </div>
      <a class="tel-and-mail__mail tel-and-mail__mail--contacts" href=""
        >plastart@meta.ua</a
      >
    </div>
  </div>
  <div class="works__buttons works__buttons--contacts">
    <button class="social-button social-button--contacts">
      <svg class="social-button__icon">
        <use xlink:href="./images/sprite.svg#instagram"></use>
      </svg>
      Instagram
    </button>
    <button class="social-button social-button--contacts">
      <svg class="social-button__icon">
        <use xlink:href="./images/sprite.svg#telegram"></use>
      </svg>
      Telegram
    </button>
    <button class="social-button social-button--contacts">
      <svg class="social-button__icon">
        <use xlink:href="./images/sprite.svg#facebook"></use>
      </svg>
      Facebook
    </button>
    <button class="social-button social-button--contacts">
      <svg class="social-button__icon">
        <use xlink:href="./images/sprite.svg#youtube"></use>
      </svg>
      YouTube
    </button>
  </div>
</section>
