<section class="diplomas">
  <h2 class="title title--sertification">Дипломи та сертифікати</h2>
  <ul class="diplomas__list">
    <li class="diplomas__item">
      <img
        class="diplomas__img"
        src="./images/diplomas/diplom1.png"
        alt="диплом"
      />
    </li>
    <li class="diplomas__item">
      <img
        class="diplomas__img"
        src="./images/diplomas/diplom2.png"
        alt="диплом"
      />
    </li>
    <li class="diplomas__item">
      <img
        class="diplomas__img"
        src="./images/diplomas/diplom3.png"
        alt="диплом"
      />
    </li>
    <li class="diplomas__item">
      <img
        class="diplomas__img"
        src="./images/diplomas/diplom4.png"
        alt="диплом"
      />
    </li>
    <li class="diplomas__item">
      <img
        class="diplomas__img"
        src="./images/diplomas/diplom5.png"
        alt="диплом"
      />
    </li>
  </ul>
</section>
