<section class="doctor-personal">
  <div class="doctor-personal__img-wrapper doctor-personal__img--male"></div>
  <h2 class="title title--doctor">
    Гуменний <br />
    Руслан Миколайович
  </h2>
  <h3 class="subtitle subtitle--doctor">Головний лікар та провідний хірург</h3>

  <div
    class="doctor-personal__description doctor-personal__description--doctor"
  >
    <p class="doctor-personal__text">
      Спеціалізацію проходив у відомого пластичного хірурга Пшеніснова К.П.
      (Росія, 2002рік). В 2009 році стажувався у клініці професора P.Heden
      (Швеція) в напрямку естетичної хірургії молочних залоз,в рамках освітньої
      програми Natrelle-Academy. Регулярно приймає участь в освітніх
      програмах,які проводяться в Україні та за кордоном. Руслан Миколайович
      являється членом ВАПРЕХ (Всеукраїнської асоціації пластичних
      реконструктивних естетичних хірургів) та обласним спеціалістом ГУОЗ в
      Чернівецькій області з пластичної та естетичної хірургії.
    </p>
    <p class="doctor-personal__text">
      Багаторічний досвід (більше 10 років) успішної практики в сфері пластичної
      хірургії, постійне підвищення кваліфікації, індивідуальний підхід до
      кожного пацієнта, новаторські ідеї і заслужена повага в професійному
      середовищі дозволили йому завоювати довіру постійних клієнтів.
    </p>
  </div>

  <div class="accordion accordion--doctor">
    <div class="accordion__string-wrapper">
      <p class="accordion__text accordion__text--doctor">Освіта</p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="gumeniy1" />
        <label class="accordion__label" for="gumeniy1">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list accordion__list--doctor">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--doctor">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text accordion__text--doctor">Досвід роботи</p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="gumeniy2" />
        <label class="accordion__label" for="gumeniy2">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list accordion__list--doctor">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--doctor">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text accordion__text--doctor">
        Наукові конференції, семінари,симпозіуми, курси
      </p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="gumeniy3" />
        <label class="accordion__label" for="gumeniy3">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list accordion__list--doctor">
        <li class="accordion__item accordion__item--doctor">
          <p class="accordion__item-text accordion__item-text--doctor">
            Спеціалізовані курси «Пластична та реконструктивна хірургія» на
            кафедрі «Хірургія №4» Університету ім.Богомольця під керівництвом
            доктора медичних наук, професора Храпача.
          </p>
        </li>
        <li class="accordion__item accordion__item--doctor">
          <p class="accordion__item-text accordion__item-text--doctor">
            2008 – Конференція «Сучасні методи лікування гриж живота із
            застосуванням допоміжних пластичних матеріалів», НМАПО імені П. Л.
            Шупика.
          </p>
        </li>
        <li class="accordion__item accordion__item--doctor">
          <p class="accordion__item-text accordion__item-text--doctor">
            2009 р. – «Сучасні алопластичні та лапароскопічні методики
            герніопластики», НМАПО П.Л. Шупика, кафедра хірургії та проктології.
          </p>
        </li>
        <li class="accordion__item accordion__item--doctor">
          <p class="accordion__item-text accordion__item-text--doctor">
            2010 р. – «Основи лапароскопічної хірургії», НМАПО імені П. Л.
            Шупика, кафедра хірургії та судинної хірургії.
          </p>
        </li>
        <li class="accordion__item accordion__item--doctor">
          <p class="accordion__item-text accordion__item-text--doctor">
            2010 р. – «Лапароскопічна хірургія гепатобіліарної зони», НМАПО
            імені П. Л. Шупика, кафедра хірургії та судинної хірургії.
          </p>
        </li>
        <li class="accordion__item accordion__item--doctor">
          <p class="accordion__item-text accordion__item-text--doctor">
            2010 – «Лапароскопічні та малоінвазивні технології у хірургії,
            урології та гінекології», Тернопільський державний медичний
            університет, кафедра хірургії та ендоскопічної хірургії.
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text accordion__text--doctor">Участь в асоціаціях</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="gumeniy4" />
        <label class="accordion__label" for="gumeniy4">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list accordion__list--doctor">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--doctor">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text accordion__text--doctor">
        Операції та процедури
      </p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="gumeniy5" />
        <label class="accordion__label" for="gumeniy5">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list accordion__list--doctor">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--doctor">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
