<section class="doctors">
  <!-- <div class="doctors__description-wrapper"> -->
  <div class="doctors__text-wrapper">
    <h2 class="doctors__title">Лікарі</h2>
    <p class="doctors__text">
      Ми - команда однодумців. <br />
      <br />Ми супроводжуємо вас на кожному етапі вашої операції - від першої
      зустрічі до останньої процедури косметологічної реабілітації.
    </p>
  </div>

  <!-- </div> -->
  <ul class="doctors__cards-wrapper">
    <li class="doctors__card doctors__card--male">
      <a href="./doctor-page-gumeniy.html">
        <div class="doctors__gradient"></div>
        <img src="./images/doctors/gumeniy.png" alt="" class="doctors-img" />

        <div class="doctors__description-wrapper">
          <h3 class="doctors__subtitle">
            Гуменний<br />
            Руслан Миколайович
          </h3>
          <p class="doctors__description">Головний лікар та провідний хірург</p>
        </div>
        <div class="arrow-batton">
          <svg class="arrow-batton__icon">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </div>
      </a>
    </li>
    <li class="doctors__card doctors__card--female">
      <a href="./doctor-page-gumeniy.html">
        <div class="doctors__gradient"></div>
        <img src="./images/doctors/gumena.png" alt="" class="doctors-img" />
        <div class="doctors__description-wrapper">
          <h3 class="doctors__subtitle">
            Гуменна<br />
            Катерина Юріївна
          </h3>
          <p class="doctors__description">
            Лікар-гінеколог, експерт напрямку “Естетиична гінекологія”
          </p>
        </div>
        <a href="" class="arrow-batton">
          <svg class="arrow-batton__icon">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </a>
      </a>
    </li>
  </ul>
</section>
