<footer>
  <div class="footer container">
    <div class="adress">
      <p class="adress__text">
        вул. Владислава Трепка 1А, м. Чернівці, Україна
      </p>
      <a class="adress__link" href="">
        Прокласти маршрут
        <svg class="adress__link-icon">
          <use xlink:href="./images/sprite.svg#angleArrow"></use>
        </svg>
      </a>
    </div>

    <div class="tel-and-mail">
      <div class="tel-and-mail__contacts-sub-wrapper">
        <a class="tel-and-mail__tel" href="tel:+380503745666"
          >+38 (050) 374-56-66</a
        >
        <a class="tel-and-mail__tel" href="tel:+380372547282"
          >+38 (0372) 54-72-82</a
        >
      </div>
      <a class="tel-and-mail__mail" href="">plastart@meta.ua</a>
    </div>
    <div class="socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a href="" class="socials__link">
            <svg class="socials__icon">
              <use xlink:href="./images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="" class="socials__link">
            <svg class="socials__icon">
              <use xlink:href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="" class="socials__link">
            <svg class="socials__icon">
              <use xlink:href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="" class="socials__link">
            <svg class="socials__icon">
              <use xlink:href="./images/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer__about">
      <span>© 2005-2023 PlastArt</span
      ><span>ТОВ «Буковинський центр пластичної </span>
      <span> та естетичної хірургії»</span>
    </p>
  </div>
</footer>
