<section class="form container">
  <h2 class="form__title">Записатися на прийом</h2>
  <p class="form__text">
    Заповніть форму, і наш адміністратор обов'язково зв'яжеться з вами у
    найблиижчий час
  </p>
  <form action="" class="form__form">
    <div class="form__input-wrapper">
      <label class="form__label" for="">Імʼя</label>
      <input type="text" class="form__input" placeholder="Ваше імʼя" />
    </div>
    <div class="form__input-wrapper">
      <label class="form__label" for="">Телефон</label>
      <input type="number" class="form__input" placeholder="Ваш номер" />
    </div>
    <button class="button button--form">
      Записатися<svg class="button__icone">
        <use xlink:href="./images/sprite.svg#arrowRight"></use>
      </svg>
    </button>
  </form>
</section>
