<header class="header header--welcome">
  <div class="container header__wrapper header__wrapper--welcome">
    <div
      class="header__town-navigation-wrapper header__town-navigation-wrapper--welcome"
    >
      <a href="./main-page.html"
        ><img
          class="logo logo--welcome"
          src="./images/welcomeImg/logo-welcome.svg"
          alt="logo"
      /></a>
    </div>

    <div class="header__right-side header__right-side--welcome">
      <div class="socials socials--welcome">
        <ul class="socials__list socials__list--welcome">
          <li class="socials__item">
            <a href="" class="socials__link">
              <svg class="socials__icon socials__icon--welcome">
                <use xlink:href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link">
              <svg class="socials__icon socials__icon--welcome">
                <use xlink:href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link">
              <svg class="socials__icon socials__icon--welcome">
                <use xlink:href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link">
              <svg class="socials__icon socials__icon--welcome">
                <use xlink:href="./images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="header__button-wrapper header__button-wrapper--welcome">
        <div class="linguage linguage--welcome">
          <button class="letter-buttton letter-buttton--active-welcome">
            UA
          </button>
          <button class="letter-buttton">Ru</button>
        </div>
      </div>
    </div>
  </div>
</header>
