<div class="header-modal container visually-hidden">
  <!-- visually-hidden  -->
  <nav class="header-modal__site-navigation">
    <ul class="header-modal__site-navigation-list">
      <li class="header-modal__site-navigation-list">
        <div class="header-modal__services-wrapper">
          <button
            class="button button--header-modal header-modal__display"
            id="button-servicess"
          >
            Послуги
            <svg class="header-modal__icon">
              <use xlink:href="./images/sprite.svg#chevronBot"></use>
            </svg>
          </button>
          <ul
            class="header-modal__services-list header-modal__services-list--servicess visually-hidden"
          >
            <!-- visually-hidden -->
            <li class="header-modal__services-item">
              <h3 class="header-modal__services-title">Груди</h3>
              <nav class="header-modal__services-navigation">
                <ul class="header-modal__services-sublist">
                  <li class="header-modal__services-subitem">
                    <a
                      href="./operation-page.html"
                      class="header-modal__services-sublink"
                      >Збільшення грудей</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Підтяжка грудей</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Зменшення грудей</a
                    >
                  </li>
                </ul>
              </nav>
            </li>
            <li class="header-modal__services-item">
              <h3 class="header-modal__services-title">Обличчя</h3>
              <nav class="header-modal__services-navigation">
                <ul class="header-modal__services-sublist">
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Пластика носу</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Пластика повік</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Пластика обличчя</a
                    >
                  </li>
                </ul>
              </nav>
            </li>
            <li class="header-modal__services-item">
              <h3 class="header-modal__services-title">Тіло</h3>
              <nav class="header-modal__services-navigation">
                <ul class="header-modal__services-sublist">
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Пластика живота</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Ліпосакції</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Пластика тіла</a
                    >
                  </li>
                </ul>
              </nav>
            </li>
            <li class="header-modal__services-item">
              <h3 class="header-modal__services-title">
                Естетична гінекологія
              </h3>
              <nav class="header-modal__services-navigation">
                <ul class="header-modal__services-sublist">
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Лабіопластика</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Кольпорафія</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Ліпосакція та ліпофілінг</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Нехірургічні процедури</a
                    >
                  </li>
                </ul>
              </nav>
            </li>
            <li class="header-modal__services-item">
              <h3 class="header-modal__services-title">Косметологія</h3>
              <nav class="header-modal__services-navigation">
                <ul class="header-modal__services-sublist">
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Косметологічні процедури</a
                    >
                  </li>
                  <li class="header-modal__services-subitem">
                    <a href="" class="header-modal__services-sublink"
                      >Лазерні процедури</a
                    >
                  </li>
                </ul>
              </nav>
            </li>
          </ul>
        </div>
      </li>
      <li
        class="header-modal__site-navigation-list header-modal__site-navigation-list--desktop"
      >
        <div class="header-modal__positioner-title">
          <!-- // &--desktop {
            //   @include desktop {
            //     display: grid;
            //     grid-template-columns: repeat(5, 1fr);
            //     flex-direction: row;
            //   }
            // } -->
          <div class="header-modal__services-wrapper header-modal__display">
            <button class="button button--header-modal" id="button-doctors">
              Лікарі
              <svg class="header-modal__icon header-modal__icon--doctors">
                <use xlink:href="./images/sprite.svg#chevronBot"></use>
              </svg>
            </button>
          </div>

          <ul
            class="header-modal__services-list header-modal__services-list--doctors visually-hidden"
          >
            <!-- visually-hidden -->
            <li>
              <a
                class="header-modal__doctor-item"
                href="./doctor-page-gumeniy.html"
              >
                <div
                  href="./doctor-page-gumeniy.html"
                  class="header-modal__picture-wrapper header-modal__picture-wrapper--men"
                >
                  <picture class="">
                    <source
                      srcset="
                        ./images/doctors/header/mini/gumeniy.png 1x,
                        ./images/doctors/header/full/gumeniy.png 2x
                      "
                      media="(min-width:1400px)"
                    />
                    <source
                      srcset="
                        ./images/doctors/header/mini/gumeniy.png 1x,
                        ./images/doctors/header/full/gumeniy.png 2x
                      "
                      media="(min-width:834px)"
                    />
                    <source
                      srcset="
                        ./images/doctors/header/mini/gumeniy.png 1x,
                        ./images/doctors/header/full/gumeniy.png 2x
                      "
                      media="(max-width:360px)"
                    />
                    <img
                      class="header-modal__doctor-img"
                      src="./images/doctors/header/mini/gumeniy.png"
                      alt="docktor"
                      width="72"
                      height="72"
                    />
                  </picture>
                </div>
                <h3 class="header-modal__doctor-title">
                  Гуменний<br />
                  Руслан Миколайович<span class="header-modal__doctor-span"
                    >Головний лікар та провідний хірург</span
                  >
                </h3>
                <svg class="header-modal__icon header-modal__icon--arrow">
                  <use xlink:href="./images/sprite.svg#arrowRight"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="header-modal__doctor-item"
                href="./doctor-page-gumeniy.html"
              >
                <div
                  class="header-modal__picture-wrapper header-modal__picture-wrapper--women"
                >
                  <picture class="">
                    <source
                      srcset="
                        ./images/doctors/header/mini/gumena.png 1x,
                        ./images/doctors/header/full/gumena.png 2x
                      "
                      media="(min-width:1400px)"
                    />
                    <source
                      srcset="
                        ./images/doctors/header/mini/gumena.png 1x,
                        ./images/doctors/header/full/gumena.png 2x
                      "
                      media="(min-width:834px)"
                    />
                    <source
                      srcset="
                        ./images/doctors/header/mini/gumena.png 1x,
                        ./images/doctors/header/full/gumena.png 2x
                      "
                      media="(max-width:360px)"
                    />
                    <img
                      class="header-modal__doctor-img"
                      src="./images/doctors/header/mini/gumena.png"
                      alt="docktor"
                      width="72"
                      height="72"
                    />
                  </picture>
                </div>

                <h3 class="header-modal__doctor-title">
                  Гуменна<br />
                  Катерина Юріївна<span class="header-modal__doctor-span"
                    >Лікар-гінеколог, експерт напрямку «Естетиична
                    гінекологія»</span
                  >
                </h3>
                <svg class="header-modal__icon header-modal__icon--arrow">
                  <use xlink:href="./images/sprite.svg#arrowRight"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="header-modal__site-navigation-list">
        <div class="header-modal__services-wrapper header-modal__display">
          <a class="header-modal__site-navigation-link" href="./prices.html"
            >Ціни</a
          >
        </div>
      </li>
      <li class="header-modal__site-navigation-list">
        <div class="header-modal__services-wrapper header-modal__display">
          <a class="header-modal__site-navigation-link" href="./contacts.html"
            >Контакти</a
          >
        </div>
      </li>
      <li class="header-modal__site-navigation-list">
        <div class="header-modal__services-wrapper header-modal__display">
          <a class="header-modal__site-navigation-link" href="./questions.html"
            >Питання</a
          >
        </div>
      </li>
    </ul>
  </nav>
</div>
