<header class="header">
  <div class="container header__wrapper">
    <div class="header__town-navigation-wrapper">
      <a href="./index.html"
        ><img class="logo" src="./images/logo.svg" alt="logo"
      /></a>
      <nav class="header__town-navigation">
        <a class="header__link header__link--active" href="">Чернівці</a>
        <a href="" class="header__link">Буковель</a>
      </nav>
    </div>

    <nav class="header__site-navigation">
      <ul class="header__site-navigation-list">
        <li class="header__site-navigation-list">
          <button
            class="header__site-navigation-link header__button-chevron"
            id="button-servicess-desktop"
            href=""
          >
            Послуги
            <svg
              class="header-modal__icon-desktop header-modal__icon-desktop-servicess"
            >
              <use xlink:href="./images/sprite.svg#chevronBot"></use>
            </svg>
          </button>
        </li>
        <li class="header__site-navigation-list">
          <button
            class="header__site-navigation-link header__button-chevron"
            id="button-doctors-desktop"
            href=""
          >
            Лікарі
            <svg
              class="header-modal__icon-desktop header-modal__icon-desktop-doctors"
            >
              <use xlink:href="./images/sprite.svg#chevronBot"></use>
            </svg>
          </button>
        </li>
        <li class="header__site-navigation-list">
          <a class="header__site-navigation-link" href="./prices.html">Ціни</a>
        </li>
        <li class="header__site-navigation-list">
          <a class="header__site-navigation-link" href="./contacts.html"
            >Контакти</a
          >
        </li>
        <li class="header__site-navigation-list">
          <a class="header__site-navigation-link" href="./questions.html"
            >Питання</a
          >
        </li>
      </ul>
    </nav>

    <div class="header__right-side">
      <div class="header__button-wrapper">
        <div class="linguage">
          <button class="letter-buttton letter-buttton--active">UA</button>
          <button class="letter-buttton">Ru</button>
        </div>
        <button class="button button--header">Записатися</button>
      </div>

      <svg class="header__hamburger">
        <use xlink:href="./images/sprite.svg#hamburger"></use>
      </svg>
    </div>
  </div>
</header>
