<section class="main-price container">
  <h2 class="title-prices">Ціни на операції</h2>

  <div class="accordion">
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Обличчя</p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="section1" />
        <label class="accordion__label" for="section1">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Груди</p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="section2" />
        <label class="accordion__label" for="section2">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Збільшення молочних залоз
              <span class="accordion__item-span">5100$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Пластика носу
              <span class="accordion__item-span">4000$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Підтяжка обличчя
              <span class="accordion__item-span">3000$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Пластика повік
              <span class="accordion__item-span">1000$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Інтимна пластика
              <span class="accordion__item-span">2600$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Контурна пластика
              <span class="accordion__item-span">2300$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              SMAS-ліфтинг
              <span class="accordion__item-span"> 5100$</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Тіло</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section3" />
        <label class="accordion__label" for="section3">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Ліпосакція (вакуумне видалення жиру)</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section4" />
        <label class="accordion__label" for="section4">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Лазерний ліполіз (Smart Lipo)</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section5" />
        <label class="accordion__label" for="section5">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Ліпофілінг (базова вартість зони)</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section6" />
        <label class="accordion__label" for="section6">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Лікування гінекомастії</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section7" />
        <label class="accordion__label" for="section7">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Інтимна хірургія</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section8" />
        <label class="accordion__label" for="section8">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Інші послуги</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section9" />
        <label class="accordion__label" for="section9">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Ін’єкції філерами</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section10" />
        <label class="accordion__label" for="section10">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Диспорт, ботокс</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section11" />
        <label class="accordion__label" for="section11">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Інтимна корекція філерами</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section12" />
        <label class="accordion__label" for="section12">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Пакетні послуги</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section13" />
        <label class="accordion__label" for="section13">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="price__attention-wrapper price__attention-wrapper--margin-top">
      <div class="price__attention">
        <img class="price__attention-img" src="./images/finger.svg" alt="" />
        <p class="price__attention-text">
          Точна вартість операцій та процедур визначається виключно після
          консультації з лікарем
        </p>
      </div>
      <p class="price__attention-anotation">
        * розрахунок у гривнях за курсом НБУ в день операції.
      </p>
    </div>
  </div>
</section>
