<div class="modal-slider visually-hidden">
  <div id="slick">
    <div class="slider-modal containers">
      <div class="slider__slide row">
        <div class="row">
          <div class="col-lg-12">
            <div class="slider_content">
              <div class="slider_items">
                <img
                  class="slide__img-modal slide__img--sertificat"
                  src="../src/images/diplomas/diplom1.png"
                  alt="sertificate"
                />
              </div>
              <div class="slider_items">
                <img
                  class="slide__img-modal slide__img--sertificat"
                  src="../src/images/diplomas/diplom2.png"
                  alt="sertificate"
                />
              </div>
              <div class="slider_items">
                <img
                  class="slide__img-modal slide__img--sertificat"
                  src="../src/images/diplomas/diplom3.png"
                  alt="sertificate"
                />
              </div>
              <div class="slider_items">
                <img
                  class="slide__img-modal slide__img--sertificat"
                  src="../src/images/diplomas/diplom4.png"
                  alt="sertificate"
                />
              </div>
              <div class="slider_items">
                <img
                  class="slide__img-modal slide__img--sertificat"
                  src="../src/images/diplomas/diplom5.png"
                  alt="sertificate"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="controll-wrapper">
    <div><button class="custom-prev-button"></button></div>

    <div class="indicators">
      <div class="indicator"></div>
      <div class="indicator"></div>
      <div class="indicator"></div>
      <div class="indicator"></div>
      <div class="indicator"></div>
    </div>
    <div><button class="custom-next-button"></button></div>
  </div>
</div>
