<section class="partners container">
  <div>
    <h2 class="partners__title">Партнери</h2>
    <div class="partners__img-wrapper">
      <div class="partners__img-icon">
        <img class="partners__img" src="./images/partners/isaps.svg" alt="" />
      </div>
      <div class="partners__img-icon">
        <img
          class="partners__img"
          src="./images/partners/polytech.svg"
          alt=""
        />
      </div>
      <div class="partners__img-icon--pharaon">
        <img src="./images/partners/pharaon.png" alt="" />
      </div>
    </div>
  </div>
  <div class="partners__awards">
    <h3 class="partners__subtitle">
      Нагорода у номінації найкраща клініка пластичної хірургії в Україні у 2021
      році
    </h3>
    <div class="partners__img-icon partners__img-icon--stella">
      <img src="./images/partners/stella.png" alt="" />
    </div>
  </div>
</section>
