<section class="price container">
  <h2 class="price__title">Ціни на популярні послуги</h2>
  <p class="price__text">
    Клініка Plast ART — це багаторічний досвід в сфері пластичної хірургії,
    постійне підвищення кваліфікації, індивідуальний
  </p>
  <ul class="price__list">
    <li class="price__item">
      <a href="./procedure-milk-vines.html" class="price__item-link">
        <p class="price__description">Збільшення молочних залоз</p>

        <div class="price__wrapper">
          <p class="price__price">5100$</p>
          <svg class="price__svg">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </div>
      </a>
    </li>
    <li class="price__item">
      <a href="#" class="price__item-link">
        <p class="price__description">Пластика носу</p>
        <div class="price__wrapper">
          <p class="price__price">4000$</p>
          <svg class="price__svg">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </div>
      </a>
    </li>
    <li class="price__item">
      <a href="#" class="price__item-link">
        <p class="price__description">Підтяжка обличчя</p>
        <div class="price__wrapper">
          <p class="price__price">3000$</p>
          <svg class="price__svg">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </div>
      </a>
    </li>
    <li class="price__item">
      <a href="#" class="price__item-link">
        <p class="price__description">Пластика повік</p>
        <div class="price__wrapper">
          <p class="price__price">1000$</p>
          <svg class="price__svg">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </div>
      </a>
    </li>
    <li class="price__item">
      <a href="#" class="price__item-link">
        <p class="price__description">Інтимна пластика</p>
        <div class="price__wrapper">
          <p class="price__price">2600$</p>
          <svg class="price__svg">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </div>
      </a>
    </li>
    <li class="price__item">
      <a href="#" class="price__item-link">
        <p class="price__description">Контурна пластика</p>
        <div class="price__wrapper">
          <p class="price__price">2300$</p>
          <svg class="price__svg">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </div>
      </a>
    </li>
    <li class="price__item">
      <a href="#" class="price__item-link">
        <p class="price__description">SMAS-ліфтинг</p>
        <div class="price__wrapper">
          <p class="price__price">5100$</p>
          <svg class="price__svg">
            <use xlink:href="./images/sprite.svg#arrowRight"></use>
          </svg>
        </div>
      </a>
    </li>
  </ul>
  <div class="price__button-wrapper">
    <button class="button button--direction button button--price">
      Всі ціни<svg class="button__icone">
        <use xlink:href="./images/sprite.svg#arrowRight"></use>
      </svg>
    </button>
  </div>
  <div class="price__attention-wrapper">
    <div class="price__attention">
      <img class="price__attention-img" src="./images/finger.svg" alt="" />
      <p class="price__attention-text">
        Точна вартість операцій та процедур визначається виключно після
        консультації з лікарем
      </p>
    </div>
    <p class="price__attention-anotation">
      * розрахунок у гривнях за курсом НБУ в день операції.
    </p>
  </div>
</section>
