<section class="procedure">
  <h2 class="title-prices">Ціни на процедури</h2>

  <div class="accordion">
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Фракційне лазерне шліфування (Pixel CO2)</p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="section15" />
        <label class="accordion__label" for="section15">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Обличчя
              <span class="accordion__item-span">450$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Чоло
              <span class="accordion__item-span">120$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Верхні повіки
              <span class="accordion__item-span">70$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Навколо очей
              <span class="accordion__item-span">90$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Щоки
              <span class="accordion__item-span">120$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Ніс
              <span class="accordion__item-span">40$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Верхня губа
              <span class="accordion__item-span">65$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Навколо губ
              <span class="accordion__item-span">90$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Підборіддя
              <span class="accordion__item-span">65$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Шия
              <span class="accordion__item-span">220$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Декольте
              <span class="accordion__item-span">175$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Плечі
              <span class="accordion__item-span">180$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Спина
              <span class="accordion__item-span">390$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Живіт
              <span class="accordion__item-span">350$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Сідниці
              <span class="accordion__item-span">190$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Руки
              <span class="accordion__item-span">280$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Кисті рук
              <span class="accordion__item-span">120$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Обличчя + шия
              <span class="accordion__item-span">350$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Обличчя + шия + декольте
              <span class="accordion__item-span">470$</span>
            </p>
          </a>
        </li>
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              Рубець 1 см
              <span class="accordion__item-span">25$</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Лазерна епіляція (CANDELA GentleYag)</p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="section16" />
        <label class="accordion__label" for="section16">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">
        Лазерне видалення судинних утвореннь (CANDELA GentleYag)
      </p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section17" />
        <label class="accordion__label" for="section17">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Лазерний ліфтинг (CANDELA GentleYag)</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section18" />
        <label class="accordion__label" for="section18">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <a href="" class="accordion__item-link">
            <p class="accordion__item-text">
              <span class="accordion__item-span"></span>
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
