<section class="procedure">
  <h2 class="title-prices">Ціни на процедури</h2>

  <div class="accordion">
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Фракційне лазерне шліфування (Pixel CO2)</p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="section15" />
        <label class="accordion__label" for="section15">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Лазерна епіляція (CANDELA GentleYag)</p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="section16" />
        <label class="accordion__label" for="section16">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">
        Лазерне видалення судинних утвореннь (CANDELA GentleYag)
      </p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section17" />
        <label class="accordion__label" for="section17">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Лазерний ліфтинг (CANDELA GentleYag)</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="section18" />
        <label class="accordion__label" for="section18">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
