<section class="questions">
  <h2 class="title-prices">Питання і відповіді</h2>

  <div class="accordion">
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Збільшення грудей – необхідність чи примха?</p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="question1" />
        <label class="accordion__label" for="question1">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            Операції по збільшенню грудей обов'язково передує обстеження, яке
            включає аналізи крові і сечі, ЕКГ, флюорографію. УЗД молочної залози
            доцільно проводити з 6-ого по 12-ий день менструального циклу. Всі
            дослідження підкоряються певним правилам, які забезпечують
            об'єктивність аналізів. В клініку надаються оригінали документів - з
            усіма необхідними реквізитами, підписами і печатками. Під час
            попередньої бесіди з лікарем рекомендується задати всі питання щодо
            операції, наркозу, особливостей імплантів (список краще скласти
            заздалегідь).
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">
        Підготовка: чи потрібні аналізи перед збільшенням грудей?
      </p>
      <div class="accordion__checkbox-wrapper">
        <input class="accordion__checkbox" type="checkbox" id="question2" />
        <label class="accordion__label" for="question2">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Збільшення грудей – необхідність чи примха?</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="question3" />
        <label class="accordion__label" for="question3">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">
        Підготовка: чи потрібні аналізи перед збільшенням грудей?
      </p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="question4" />
        <label class="accordion__label" for="question4">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Збільшення грудей – необхідність чи примха?</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="question5" />
        <label class="accordion__label" for="question5">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">
        Підготовка: чи потрібні аналізи перед збільшенням грудей?
      </p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="question6" />
        <label class="accordion__label" for="question6">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Збільшення грудей – необхідність чи примха?</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="question7" />
        <label class="accordion__label" for="question7">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">
        Підготовка: чи потрібні аналізи перед збільшенням грудей?
      </p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="question8" />
        <label class="accordion__label" for="question8">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">Збільшення грудей – необхідність чи примха?</p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="question9" />
        <label class="accordion__label" for="question9">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="accordion__string-wrapper">
      <p class="accordion__text">
        Підготовка: чи потрібні аналізи перед збільшенням грудей?
      </p>
      <div>
        <input class="accordion__checkbox" type="checkbox" id="question10" />
        <label class="accordion__label" for="question10">
          <svg class="accordion__svg">
            <use xlink:href="./images/sprite.svg#plus"></use>
          </svg>
        </label>
      </div>
      <ul class="accordion__list">
        <li class="accordion__item">
          <p class="accordion__item-text accordion__item-text--question">
            <span class="accordion__item-span"></span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
