<div class="video">
  <div class="video__wrapper-bukovel">
    <div class="video__backdropp" id="backdropp-bukovel">
      <div
        class="video__wall video__wall--desktop"
        id="wall-bukovel-desktop"
      ></div>
      <div class="video__wall" id="wall-bukovel"></div>
      <a class="video__link" href="./main-page.html">
        <h2 class="title video__title">Буковель</h2>
        <div class="video__description-wrapper" id="desk-buk">
          <p class="video__description">
            Комплекс Resort Medical Park розташований в самому центрі
            гірськолижного курорту «Буковель». Тут можна поєднувати відпочинок,
            оздоровлення та лікування.
          </p>
          <div class="video__button">
            <svg class="video__svg">
              <use xlink:href="./images/sprite.svg#arrowRight"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
    <video
      class="video__video"
      id="video-bukovel"
      width=""
      height=""
      autoplay
      loop="loop"
    >
      <source src="./images/welcomeImg/forest.mp4" type="video/mp4" />
      <source src="./images/welcomeImg/forest.ogg" type="video/ogg" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="video__wrapper-chernovci">
    <div class="video__backdropp" id="backdropp-chernovci">
      <div
        class="video__wall video__wall--desktop"
        id="wall-chernovci-desktop"
      ></div>
      <div class="video__wall" id="wall-chernovci"></div>
      <a class="video__link" href="./main-page.html">
        <h2 class="title video__title">Чернівці</h2>
        <div class="video__description-wrapper" id="desk-cher">
          <p class="video__description">
            Комплекс Resort Medical Park розташований в самому центрі
            гірськолижного курорту «Буковель». Тут можна поєднувати відпочинок,
            оздоровлення та лікування.
          </p>
          <div class="video__button">
            <svg class="video__svg">
              <use xlink:href="./images/sprite.svg#arrowRight"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
    <video
      class="video__video"
      id="video-chernovci"
      width="320"
      height="240"
      autoplay
      loop="loop"
    >
      <source src="./images/welcomeImg/mountain.mp4" type="video/mp4" />
      <source src="./images/welcomeImg/forest.ogg" type="video/ogg" />
      Your browser does not support the video tag.
    </video>
  </div>
  <p class="video__text">Оберіть клініку</p>
</div>
