<section class="works container">
  <div class="slider">slider</div>
  <div class="works__description">
    <h2 class="works__title">Приклади робіт</h2>
    <div class="works__positioner">
      <p class="works__text">Більше фото та відео робіт – у нашому Instagram</p>
      <p class="works__text">
        Роботи без цензури, цікаві випадки, розбір складних випадків – в
        Telegram-каналі
      </p>
      <p class="works__text">Не забувайте підписатися</p>
      <div class="works__buttons">
        <button class="social-button">
          <svg class="social-button__icon">
            <use xlink:href="./images/sprite.svg#instagram"></use>
          </svg>
          Instagram
        </button>
        <button class="social-button">
          <svg class="social-button__icon">
            <use xlink:href="./images/sprite.svg#telegram"></use>
          </svg>
          Instagram
        </button>
      </div>
    </div>
  </div>
</section>
