<section class="works-section">
  <!-- <div class="container"></div> -->
  <div class="works container">
    <div class="slider">
      <div class="itc-slider" data-loop="true">
        <!-- data-autoplay="true"
        data-interval="7000" -->
        <div class="itc-slider-wrapper">
          <div class="itc-slider-items">
            <div class="itc-slider-item">
              <!-- Контент 1 слайда -->
              <div class="slide">
                <div class="slide__img-wrapper slide__img-wrapper--befor">
                  <img
                    class="slide__img"
                    src="../src/images/slider/befor.jpg"
                    alt=""
                  />
                  <div class="slide__before-box">
                    <p class="slide__text">До</p>
                  </div>
                </div>
                <div class="slide__img-wrapper slide__img-wrapper--after">
                  <img
                    class="slide__img"
                    src="../src/images/slider/after.jpg"
                    alt=""
                  />
                  <div class="slide__after-box">
                    <p class="slide__text">Після</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="itc-slider-item">
              <!-- Контент 2 слайда -->
              <div class="slide">
                <div class="slide__img-wrapper slide__img-wrapper--befor">
                  <img
                    class="slide__img"
                    src="../src/images/slider/befor.jpg"
                    alt=""
                  />
                  <div class="slide__before-box">
                    <p class="slide__text">До</p>
                  </div>
                </div>
                <div class="slide__img-wrapper slide__img-wrapper--after">
                  <img
                    class="slide__img"
                    src="../src/images/slider/after.jpg"
                    alt=""
                  />
                  <div class="slide__after-box">
                    <p class="slide__text">Після</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="itc-slider-item">
              <!-- Контент 3 слайда -->
              <div class="slide">
                <div class="slide__img-wrapper slide__img-wrapper--befor">
                  <img
                    class="slide__img"
                    src="../src/images/slider/befor.jpg"
                    alt=""
                  />
                  <div class="slide__before-box">
                    <p class="slide__text">До</p>
                  </div>
                </div>
                <div class="slide__img-wrapper slide__img-wrapper--after">
                  <img
                    class="slide__img"
                    src="../src/images/slider/after.jpg"
                    alt=""
                  />
                  <div class="slide__after-box">
                    <p class="slide__text">Після</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="itc-slider-item">
              <!-- Контент 3 слайда -->
              <div class="slide">
                <div class="slide__img-wrapper slide__img-wrapper--befor">
                  <img
                    class="slide__img"
                    src="../src/images/slider/befor.jpg"
                    alt=""
                  />
                  <div class="slide__before-box">
                    <p class="slide__text">До</p>
                  </div>
                </div>
                <div class="slide__img-wrapper slide__img-wrapper--after">
                  <img
                    class="slide__img"
                    src="../src/images/slider/after.jpg"
                    alt=""
                  />
                  <div class="slide__after-box">
                    <p class="slide__text">Після</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="itc-slider-item">
              <!-- Контент 3 слайда -->
              <div class="slide">
                <div class="slide__img-wrapper slide__img-wrapper--befor">
                  <img
                    class="slide__img"
                    src="../src/images/slider/befor.jpg"
                    alt=""
                  />
                  <div class="slide__before-box">
                    <p class="slide__text">До</p>
                  </div>
                </div>
                <div class="slide__img-wrapper slide__img-wrapper--after">
                  <img
                    class="slide__img"
                    src="../src/images/slider/after.jpg"
                    alt=""
                  />
                  <div class="slide__after-box">
                    <p class="slide__text">Після</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="itc-slider-item">
              <!-- Контент 3 слайда -->
              <div class="slide">
                <div class="slide__img-wrapper slide__img-wrapper--befor">
                  <img
                    class="slide__img"
                    src="../src/images/slider/befor.jpg"
                    alt=""
                  />
                  <div class="slide__before-box">
                    <p class="slide__text">До</p>
                  </div>
                </div>
                <div class="slide__img-wrapper slide__img-wrapper--after">
                  <img
                    class="slide__img"
                    src="../src/images/slider/after.jpg"
                    alt=""
                  />
                  <div class="slide__after-box">
                    <p class="slide__text">Після</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Кнопки для перехода к предыдущему и следующему слайду -->
        <button class="itc-slider-btn itc-slider-btn-prev"></button>
        <button class="itc-slider-btn itc-slider-btn-next"></button>

        <div class="itc-slider">
          ...
          <ol class="itc-slider-indicators">
            <!-- data-slide-to="0" – для перехода к 1 слайду -->
            <li class="itc-slider-indicator" data-slide-to="0"></li>
            <!-- data-slide-to="1" – для перехода к 2 слайду -->
            <li class="itc-slider-indicator" data-slide-to="1"></li>
            <!-- data-slide-to="2" – для перехода к 3 слайду -->
            <li class="itc-slider-indicator" data-slide-to="2"></li>
            <li class="itc-slider-indicator" data-slide-to="3"></li>
            <!-- data-slide-to="1" – для перехода к 2 слайду -->
            <li class="itc-slider-indicator" data-slide-to="4"></li>
            <!-- data-slide-to="2" – для перехода к 3 слайду -->
            <li class="itc-slider-indicator" data-slide-to="5"></li>
          </ol>
        </div>
      </div>
    </div>

    <div class="works__description">
      <h2 class="works__title">Приклади робіт</h2>
      <div class="works__positioner">
        <p class="works__text">
          Більше фото та відео робіт – у нашому Instagram
        </p>
        <p class="works__text">
          Роботи без цензури, цікаві випадки, розбір складних випадків – в
          Telegram-каналі
        </p>
        <p class="works__text">Не забувайте підписатися</p>
        <div class="works__buttons">
          <button class="social-button">
            <svg class="social-button__icon">
              <use xlink:href="./images/sprite.svg#instagram"></use>
            </svg>
            Instagram
          </button>
          <button class="social-button">
            <svg class="social-button__icon">
              <use xlink:href="./images/sprite.svg#telegram"></use>
            </svg>
            Instagram
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
