.accordion {
  &--doctor {
    padding: 0 8px;
  }
  @include desktop {
    max-width: 904px;
    min-width: 904px;
    margin: 0 auto;
  }

  &__string-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 32px;
    grid-template-rows: auto auto;
    row-gap: 29px;
    column-gap: 16px;
    cursor: pointer;
    @include tablet {
      grid-template-columns: 1fr 56px;
      align-items: center;
    }
    // &:hover {
    //   .accordion__text {
    //     border-bottom: 2px solid var(--main-text-color);
    //   }
    // }
  }
  &__text {
    @include inter-font(500, var(--main-text-color));
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.48px;
    @include tablet {
      letter-spacing: -0.64px;
      font-size: 32px;
    }
    &--doctor {
      @include inter-font(500, var(--main-text-color));
      font-size: 20px;
      letter-spacing: -0.4px;
      @include tablet {
        @include inter-font(500, var(--main-text-color));
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.64px;
      }
    }
  }
  &__checkbox-wrapper {
    position: relative;
  }
  &__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }
  &__label {
    border-radius: 50%;
    background-color: rgba(52, 56, 69, 0.1);
    cursor: pointer;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    @include tablet {
      width: 56px;
      height: 56px;
    }
  }
  &__svg {
    width: 24px;
    height: 24px;
  }
  &__list {
    display: grid;
    grid-column: span 2;
    gap: 33px;
    display: none;
    padding-bottom: 28px;
    @include tablet {
      gap: 39px;
    }
    &--doctor {
      gap: 18px;
      @include tablet {
        gap: 24px;
      }
    }
  }
  &__item {
    display: flex;
    &--doctor ::before {
      content: '\2022';
      color: var(--sec-text-color);
      margin-right: 8px;
    }
  }
  &__item-link {
    width: 100%;
  }
  &__item-text {
    @include inter-font(500, var(--sec-text-color));
    width: 100%;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
    @include tablet {
      font-size: 20px;
    }
    &--question {
      font-size: 18px;
    }
    &--doctor {
      @include inter-font(400, var(--sec-text-color));
      font-size: 14px;
      line-height: 160%;
      text-align: start;
      justify-content: start;
      @include tablet {
        font-size: 18px;
      }
    }
  }
}
