.header-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  // height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__middle {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    @include container(0 0 0 0, var(--sec-bcg-color));
    height: auto;
  }

  @include container(136px 32px 24px 32px, var(--sec-bcg-color));
  @include desktop {
    @include container(0 0 0 0, var(--sec-bcg-color));
    height: auto;
  }

  @include desktop {
    min-height: auto;
  }

  &__site-navigation-list {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 36px;
    @include desktop {
      gap: 0;
    }
  }
  &__services-title {
    @include inter-font(500, var(--accent-color));
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  &__site-navigation-list {
    min-width: 186px;
  }
  &__site-navigation-link {
    @include inter-font(500, var(--white-text-color));
    font-size: 16px;
    line-height: 120%;
  }
  &__icon {
    width: 16px;
    height: 16px;
    fill: currentColor;

    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    &--arrow {
      width: 24px;
      height: 24px;
      fill: var(--white-text-color);
      &:hover {
        fill: var(--red-text-color);
      }
    }
  }
  &__icon-desktop {
    width: 16px;
    height: 16px;
    fill: currentColor;

    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    &--arrow {
      width: 24px;
      height: 24px;
      fill: var(--white-text-color);
      &:hover {
        fill: var(--red-text-color);
      }
    }
  }
  &__services-list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    &--servicess {
      @include desktop {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        // flex-direction: row;
        justify-content: space-between;
        padding: 48px 42px;
        gap: 106px;
      }
    }
    &--doctors {
      @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 440px);
        grid-template-rows: 136px;
        gap: 72px;
        padding: 48px 42px;
      }
    }
  }

  &__services-title {
    margin-bottom: 18px;
  }
  &__services-sublist {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  &__services-sublink {
    @include inter-font(500, var(--white-text-color));
    font-size: 14px;
    line-height: 120%;
  }
  &__doctor-item {
    display: grid;
    grid-template-columns: 72px 1fr 24px;
    // grid-template-rows: 72px;
    gap: 12px;
    align-items: center;
    padding: 8px 24px 8px 8px;
    @include desktop {
      grid-template-columns: 120px 1fr 24px;
      gap: 0;
      border-radius: 22px;
      &:hover {
        background-color: rgba(134, 137, 143, 0.2);
      }
    }
  }
  &__positioner-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__services-wrapper {
    min-width: 186px;
    margin: 0 auto;
    // @include desktop {
    //   min-width: auto;
    // }
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }

  &__display {
    @include desktop {
      display: none;
    }
  }

  &__picture-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 72px;
    height: 72px;
    &--women {
      background-color: var(--female-bcg);
    }
    &--men {
      background-color: var(--male-bcg-color);
    }
    @include desktop {
      width: 120px;
      height: 120px;
    }
  }
  &__doctor-img {
    min-width: 72px;
    min-height: 72px;
    @include desktop {
      min-width: 120px;
      min-height: 120px;
    }
  }
  &__doctor-title {
    @include inter-font(500, var(--white-text-color));
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 24px;
  }
  &__doctor-span {
    @include inter-font(300, var(--white-text-color));
    font-size: 12px;
    line-height: 140%;
  }
}

.header-mobile__button-wrapper {
  display: grid;
  grid-template-columns: 72px 129px;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include tablet {
    display: grid;
  }

  @include desktop {
    display: none;
  }
}
