.title {
  @include inter-font(500, var(--main-text-color));
  text-align: start;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 12px;
  &--sertification {
    text-align: center;
    margin-bottom: 64px;
  }

  @include tablet {
    margin-bottom: 24px;
    font-size: 54px;
    letter-spacing: -1.08px;
    margin-bottom: 72px;
  }
  @include desktop {
    max-width: 904px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  &--operation {
    margin-bottom: 64px;
    text-align: center;
  }
  &--about-price {
    text-align: center;
    @include tablet {
      line-height: 100%;
    }
  }
  &--doctor {
    margin-bottom: 12px;
    @include tablet {
      margin-bottom: 24px;
    }
  }
}
