.title-prices {
  @include inter-font(500, var(--main-text-color));
  text-align: center;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 64px;
  @include tablet {
    margin-bottom: 72px;
    font-size: 54px;
    letter-spacing: -1.08px;
  }
}
