.diplomas {
  @include container(48px 24px 96px 24px, var(--bcg-color));
  @include tablet {
    @include container(72px 17px 144px 17px, var(--bcg-color));
  }
  @include desktop {
    @include container(72px 156px 144px 156px, var(--bcg-color));
  }
  &__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    gap: 24px;
    justify-content: center;

    @include desktop {
      grid-template-columns: repeat(3, auto);
    }
    // display: flex;
    // flex-wrap: wrap;
    // gap: 24px;
    // justify-content: center;
  }
  &__item {
    width: 144px;
    height: 96px;
    @include tablet {
      width: 360px;
      height: 240px;
    }
  }
}
