.header {
  background-color: var(--sec-bcg-color);
  width: 100vw;
  @include tablet {
    height: 64px;
  }
  @include desktop {
    height: 76px;
  }
  display: flex;
  align-items: center;
  &--welcome {
    background-color: var(--bcg-color);
  }
  &__button-chevron {
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
    @include desktop {
      gap: 0px;
    }
  }
  &__wrapper {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 243px 24px;
    grid-template-rows: 34px;
    @include tablet {
      grid-template-columns: 243px 297px;
    }
    @include desktop {
      grid-template-columns: 243px 425px 297px;
    }
    &--welcome {
      @include container(16px 16px 16px 16px, var(--bcg-color));
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      @include tablet {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  &__town-navigation-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 12px;
    max-height: 34px;
    @include desktop {
      gap: 24px;
    }
    &--welcome {
      display: flex;
      grid-template-columns: 1fr;
      justify-content: center;
      @include tablet {
        justify-content: flex-start;
      }
    }
  }
  &__town-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
    border-radius: 44px;
    background-color: var(--thre-bcg-color);
  }
  &__link {
    display: block;
    border-radius: 44px;
    padding: 8px;
    font-size: 12px;
    line-height: 120%;
    @include inter-font(500, var(--white-text-color));
    &:hover {
      background-color: var(--link-active-color);
    }

    &--active {
      background-color: var(--link-active-color);
    }
  }

  &__site-navigation {
    display: none;
    @include desktop {
      display: block;
    }
  }

  &__site-navigation-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 1fr;
  }

  &__site-navigation-link {
    @include inter-font(500, var(--white-text-color));
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
  }

  &__right-side {
    @include tablet {
      display: grid;
      grid-template-columns: 225px 24px;
      grid-template-rows: 1fr;
      gap: 24px;
      align-items: center;
      justify-content: end;
    }
    @include desktop {
      grid-template-columns: 249;
    }
    &--welcome {
      display: none;
      @include tablet {
        display: flex;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 62px;
      }
    }
  }

  &__button-wrapper {
    display: none;
    grid-template-columns: 72px 129px;
    gap: 24px;
    align-items: center;
    &--mobile {
      display: grid;
      justify-content: space-between;
      width: 100%;
      @include desktop {
        display: none;
      }
    }
    &--footer {
      display: block;
      width: 72px;
      margin: 0 auto;
    }
    @include tablet {
      display: grid;
    }
    &--welcome {
      @include tablet {
        grid-template-columns: auto;
      }
    }
  }
  &__hamburger {
    width: 24px;
    height: 24px;
    padding: 2px;
    fill: var(--white-text-color);
    @include desktop {
      display: none;
    }
  }
}
